<h2>Pokemon Events</h2>

<app-custom-table
  [data]="pokemonEvents"
  rowKey="eventID"
  [allColumns]="cols"
  [ngModel]="selectedColumns"
  (ngModelChange)="selectedColumnsChange()"
  addButtonLabel="Add Pokemon Event"
  [numRowsToDisplay]="25"
  rowsPerPageOtions="[25, 50, 100]"
  isScrollable="true"
  scrollDirection="horizontal"
  sortMode="multiple"
  areColumnsResizable="true"
  dialogHeader="Edit Pokemon Event"
  dialogEditHeader="Update the Pokemon Event"
  (rowAdded)="addRow()"
  (rowSaved)="saveRow(selectedPokemonEvent)"
  >
</app-custom-table>

<!--
[shouldShowRowHover]="true"


-->
